# Django Core
Django
djangorestframework

# Authentication
djangorestframework-simplejwt

# Database
mysqlclient

# CORS
django-cors-headers

# Environment Variables
python-decouple

# Utilities
Pillow
python-dateutil

# Payment Gateway
razorpay

# PDF Generation
weasyprint
